USE [master]
GO
/****** Object:  Database [Project]    Script Date: 14.06.2020 15:00:31 ******/
CREATE DATABASE [Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project]
GO
/****** Object:  Table [dbo].[Additiomal_services_price]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Additiomal_services_price](
	[AS_id] [int] NOT NULL,
	[AS_price] [money] NULL,
 CONSTRAINT [PK_Additiomal_services_price] PRIMARY KEY CLUSTERED 
(
	[AS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Additional_Services]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Additional_Services](
	[AS_id] [int] NOT NULL,
	[Restaurants] [bit] NULL,
	[Car_booking] [bit] NULL,
	[Airlines] [bit] NULL,
 CONSTRAINT [XPKAdditional_Services] PRIMARY KEY CLUSTERED 
(
	[AS_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Booking_id] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[days] [int] NULL,
	[number_of_people] [int] NULL,
	[Destination_id] [int] NULL,
	[AS_id] [int] NULL,
	[Room_id] [int] NULL,
	[Relationship_ID] [int] NULL,
	[Client_id] [int] NULL,
 CONSTRAINT [XPKBookings] PRIMARY KEY CLUSTERED 
(
	[Booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Client_id] [int] NOT NULL,
	[client_name] [nvarchar](50) NULL,
	[date_of_birth] [datetime] NULL,
	[address] [nvarchar](70) NULL,
	[email] [nvarchar](100) NULL,
 CONSTRAINT [XPKClient] PRIMARY KEY CLUSTERED 
(
	[Client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_manager]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_manager](
	[Manager_id] [int] NOT NULL,
	[manager_name] [nvarchar](50) NULL,
	[date_of_birth] [date] NULL,
 CONSTRAINT [XPKclient_manager] PRIMARY KEY CLUSTERED 
(
	[Manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_Manager_relationships]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Manager_relationships](
	[Relationship_ID] [int] NOT NULL,
	[Manager_id] [int] NULL,
	[date] [date] NULL,
 CONSTRAINT [XPKClient_Manager_relationships] PRIMARY KEY CLUSTERED 
(
	[Relationship_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[destination]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[destination](
	[Destination_id] [int] NOT NULL,
	[city] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[required_visa] [bit] NULL,
 CONSTRAINT [XPKdestination] PRIMARY KEY CLUSTERED 
(
	[Destination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Hotel_id] [int] NOT NULL,
	[Hotel_name] [nvarchar](70) NULL,
	[address] [nvarchar](70) NULL,
	[Stars] [int] NULL,
	[Destination_id] [int] NULL,
 CONSTRAINT [XPKHotels] PRIMARY KEY CLUSTERED 
(
	[Hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] NOT NULL,
	[payment_amount] [money] NULL,
	[payment_status_id] [int] NULL,
	[Date] [date] NULL,
	[Booking_id] [int] NULL,
 CONSTRAINT [XPKPayment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment method]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment method](
	[payment_status_id] [int] NOT NULL,
	[payment_status_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Payment Status] PRIMARY KEY CLUSTERED 
(
	[payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Room_id] [int] NOT NULL,
	[Hotel_id] [int] NOT NULL,
	[Room_type] [nvarchar](50) NULL,
	[Room_price] [money] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Additiomal_services_price] ([AS_id], [AS_price]) VALUES (1, 50.0000)
INSERT [dbo].[Additiomal_services_price] ([AS_id], [AS_price]) VALUES (2, 150.0000)
INSERT [dbo].[Additiomal_services_price] ([AS_id], [AS_price]) VALUES (3, 250.0000)
GO
INSERT [dbo].[Additional_Services] ([AS_id], [Restaurants], [Car_booking], [Airlines]) VALUES (1, 1, 0, 0)
INSERT [dbo].[Additional_Services] ([AS_id], [Restaurants], [Car_booking], [Airlines]) VALUES (2, 0, 1, 0)
INSERT [dbo].[Additional_Services] ([AS_id], [Restaurants], [Car_booking], [Airlines]) VALUES (3, 0, 0, 1)
GO
INSERT [dbo].[Bookings] ([Booking_id], [start_date], [end_date], [days], [number_of_people], [Destination_id], [AS_id], [Room_id], [Relationship_ID], [Client_id]) VALUES (1, CAST(N'2019-01-23' AS Date), CAST(N'2019-01-28' AS Date), 5, 1, 60, 3, 58, 22, 166)
INSERT [dbo].[Bookings] ([Booking_id], [start_date], [end_date], [days], [number_of_people], [Destination_id], [AS_id], [Room_id], [Relationship_ID], [Client_id]) VALUES (2, CAST(N'2019-09-17' AS Date), CAST(N'2019-10-02' AS Date), 15, 4, 78, 7, 4, 20, 160)
INSERT [dbo].[Bookings] ([Booking_id], [start_date], [end_date], [days], [number_of_people], [Destination_id], [AS_id], [Room_id], [Relationship_ID], [Client_id]) VALUES (3, CAST(N'2019-12-17' AS Date), CAST(N'2019-12-26' AS Date), 9, 1, 83, 2, 45, 16, 197)
GO
INSERT [dbo].[Client] ([Client_id], [client_name], [date_of_birth], [address], [email]) VALUES (1, N'Benedidick', CAST(N'1978-02-15T00:00:00.000' AS DateTime), N'75 Utah Place', N'dbenedidick0@w3.org')
INSERT [dbo].[Client] ([Client_id], [client_name], [date_of_birth], [address], [email]) VALUES (2, N'Kilbride', CAST(N'1957-05-23T00:00:00.000' AS DateTime), N'1 Swallow Pass', N'bkilbride1@wufoo.com')
INSERT [dbo].[Client] ([Client_id], [client_name], [date_of_birth], [address], [email]) VALUES (3, N'Kiff', CAST(N'1995-06-19T00:00:00.000' AS DateTime), N'997 Straubel Circle', N'rkiff2@youku.com')
GO
INSERT [dbo].[client_manager] ([Manager_id], [manager_name], [date_of_birth]) VALUES (1, N'Crang', CAST(N'1963-10-16' AS Date))
INSERT [dbo].[client_manager] ([Manager_id], [manager_name], [date_of_birth]) VALUES (2, N'Monkley', CAST(N'1972-06-06' AS Date))
INSERT [dbo].[client_manager] ([Manager_id], [manager_name], [date_of_birth]) VALUES (3, N'Ivanyukov', CAST(N'1959-01-17' AS Date))
GO
INSERT [dbo].[Client_Manager_relationships] ([Relationship_ID], [Manager_id], [date]) VALUES (1, 200, CAST(N'2020-07-27' AS Date))
INSERT [dbo].[Client_Manager_relationships] ([Relationship_ID], [Manager_id], [date]) VALUES (2, 68, CAST(N'2020-12-22' AS Date))
INSERT [dbo].[Client_Manager_relationships] ([Relationship_ID], [Manager_id], [date]) VALUES (3, 73, CAST(N'2020-03-19' AS Date))
GO
INSERT [dbo].[destination] ([Destination_id], [city], [country], [required_visa]) VALUES (1, N'Salgar', N'Colombia', 0)
INSERT [dbo].[destination] ([Destination_id], [city], [country], [required_visa]) VALUES (2, N'Horni Sucha', N'Czech Republic', 1)
INSERT [dbo].[destination] ([Destination_id], [city], [country], [required_visa]) VALUES (3, N'Ngantru', N'Indonesia', 0)
GO
INSERT [dbo].[Hotels] ([Hotel_id], [Hotel_name], [address], [Stars], [Destination_id]) VALUES (1, N'The Oberoi Udaivilas', N'4634 Crest Line Pass', 3, 41)
INSERT [dbo].[Hotels] ([Hotel_id], [Hotel_name], [address], [Stars], [Destination_id]) VALUES (2, N'Baros', N'2 Mesta Street', 3, 13)
INSERT [dbo].[Hotels] ([Hotel_id], [Hotel_name], [address], [Stars], [Destination_id]) VALUES (3, N'Armani Hotel', N'8689 Schiller Circle', 5, 25)
GO
INSERT [dbo].[Payment] ([payment_id], [payment_amount], [payment_status_id], [Date], [Booking_id]) VALUES (1, NULL, 4, CAST(N'2019-01-20' AS Date), 1)
INSERT [dbo].[Payment] ([payment_id], [payment_amount], [payment_status_id], [Date], [Booking_id]) VALUES (2, NULL, 2, CAST(N'2019-09-15' AS Date), 2)
INSERT [dbo].[Payment] ([payment_id], [payment_amount], [payment_status_id], [Date], [Booking_id]) VALUES (3, NULL, 2, CAST(N'2019-12-12' AS Date), 3)
GO
INSERT [dbo].[Payment method] ([payment_status_id], [payment_status_type]) VALUES (1, N'Fully Paid')
INSERT [dbo].[Payment method] ([payment_status_id], [payment_status_type]) VALUES (2, N'1/2 Paid')
INSERT [dbo].[Payment method] ([payment_status_id], [payment_status_type]) VALUES (3, N'1/4 Paid')
GO
INSERT [dbo].[Rooms] ([Room_id], [Hotel_id], [Room_type], [Room_price]) VALUES (1, 5, N'Single', 70.0000)
INSERT [dbo].[Rooms] ([Room_id], [Hotel_id], [Room_type], [Room_price]) VALUES (2, 22, N'Double', 110.0000)
INSERT [dbo].[Rooms] ([Room_id], [Hotel_id], [Room_type], [Room_price]) VALUES (3, 15, N'Double', 120.0000)
GO
ALTER TABLE [dbo].[Additiomal_services_price]  WITH CHECK ADD  CONSTRAINT [FK_Additiomal_services_price_Additional_Services] FOREIGN KEY([AS_id])
REFERENCES [dbo].[Additional_Services] ([AS_id])
GO
ALTER TABLE [dbo].[Additiomal_services_price] CHECK CONSTRAINT [FK_Additiomal_services_price_Additional_Services]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Client] FOREIGN KEY([Client_id])
REFERENCES [dbo].[Client] ([Client_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Client]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([Room_id])
REFERENCES [dbo].[Rooms] ([Room_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [R_11] FOREIGN KEY([Destination_id])
REFERENCES [dbo].[destination] ([Destination_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [R_11]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [R_14] FOREIGN KEY([AS_id])
REFERENCES [dbo].[Additional_Services] ([AS_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [R_14]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [R_23] FOREIGN KEY([Relationship_ID])
REFERENCES [dbo].[Client_Manager_relationships] ([Relationship_ID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [R_23]
GO
ALTER TABLE [dbo].[Client_Manager_relationships]  WITH CHECK ADD  CONSTRAINT [R_21] FOREIGN KEY([Manager_id])
REFERENCES [dbo].[client_manager] ([Manager_id])
GO
ALTER TABLE [dbo].[Client_Manager_relationships] CHECK CONSTRAINT [R_21]
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD  CONSTRAINT [FK_Hotels_destination] FOREIGN KEY([Destination_id])
REFERENCES [dbo].[destination] ([Destination_id])
GO
ALTER TABLE [dbo].[Hotels] CHECK CONSTRAINT [FK_Hotels_destination]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Payment Status] FOREIGN KEY([payment_status_id])
REFERENCES [dbo].[Payment method] ([payment_status_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Payment Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [R_19] FOREIGN KEY([Booking_id])
REFERENCES [dbo].[Bookings] ([Booking_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [R_19]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [R_17] FOREIGN KEY([Hotel_id])
REFERENCES [dbo].[Hotels] ([Hotel_id])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [R_17]
GO
/****** Object:  StoredProcedure [dbo].[dd]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[dd]
AS
begin
update [dbo].[Bookings]
set days = convert (int, DATEDIFF( DAY, [start_date],[end_date]))
end;
GO
/****** Object:  Trigger [dbo].[tD_Additional_Services]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tD_Additional_Services] ON [dbo].[Additional_Services] FOR DELETE AS
/* erwin Builtin Trigger */
/* DELETE trigger on Additional_Services */
BEGIN
  DECLARE  @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)
    /* erwin Builtin Trigger */
    /* Additional_Services  Bookings on parent delete no action */
    /* ERWIN_RELATION:CHECKSUM="00011130", PARENT_OWNER="", PARENT_TABLE="Additional_Services"
    CHILD_OWNER="", CHILD_TABLE="Bookings"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_14", FK_COLUMNS="AS_id" */
    IF EXISTS (
      SELECT * FROM deleted,Bookings
      WHERE
        /*  %JoinFKPK(Bookings,deleted," = "," AND") */
        Bookings.AS_id = deleted.AS_id
    )
    BEGIN
      SELECT @errno  = 30001,
             @errmsg = 'Cannot delete Additional_Services because Bookings exists.'
      GOTO error
    END


    /* erwin Builtin Trigger */
    RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END
GO
ALTER TABLE [dbo].[Additional_Services] ENABLE TRIGGER [tD_Additional_Services]
GO
/****** Object:  Trigger [dbo].[tU_Additional_Services]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tU_Additional_Services] ON [dbo].[Additional_Services] FOR UPDATE AS
/* erwin Builtin Trigger */
/* UPDATE trigger on Additional_Services */
BEGIN
  DECLARE  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insAS_id integer,
           @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)

  SELECT @numrows = @@rowcount
  /* erwin Builtin Trigger */
  /* Additional_Services  Bookings on parent update no action */
  /* ERWIN_RELATION:CHECKSUM="00011e46", PARENT_OWNER="", PARENT_TABLE="Additional_Services"
    CHILD_OWNER="", CHILD_TABLE="Bookings"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_14", FK_COLUMNS="AS_id" */
  IF
    /* %ParentPK(" OR",UPDATE) */
    UPDATE(AS_id)
  BEGIN
    IF EXISTS (
      SELECT * FROM deleted,Bookings
      WHERE
        /*  %JoinFKPK(Bookings,deleted," = "," AND") */
        Bookings.AS_id = deleted.AS_id
    )
    BEGIN
      SELECT @errno  = 30005,
             @errmsg = 'Cannot update Additional_Services because Bookings exists.'
      GOTO error
    END
  END


  /* erwin Builtin Trigger */
  RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END
GO
ALTER TABLE [dbo].[Additional_Services] ENABLE TRIGGER [tU_Additional_Services]
GO
/****** Object:  Trigger [dbo].[tD_Client]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE TRIGGER [dbo].[tD_Client] ON [dbo].[Client] FOR DELETE AS
/* erwin Builtin Trigger */
/* DELETE trigger on Client */
BEGIN
  DECLARE  @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)
    /* erwin Builtin Trigger */
    /* Bookings  Client on child delete no action */
    /* ERWIN_RELATION:CHECKSUM="00014514", PARENT_OWNER="", PARENT_TABLE="Bookings"
    CHILD_OWNER="", CHILD_TABLE="Client"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_25", FK_COLUMNS="Booking_id" */
    IF EXISTS (SELECT * FROM deleted,Bookings
      WHERE
        /* %JoinFKPK(deleted,Bookings," = "," AND") */
        deleted.Booking_id = Bookings.Booking_id AND
        NOT EXISTS (
          SELECT * FROM Client
          WHERE
            /* %JoinFKPK(Client,Bookings," = "," AND") */
            Client.Booking_id = Bookings.Booking_id
        )
    )
    BEGIN
      SELECT @errno  = 30010,
             @errmsg = 'Cannot delete last Client because Bookings exists.'
      GOTO error
    END


    /* erwin Builtin Trigger */
    RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END

GO
ALTER TABLE [dbo].[Client] ENABLE TRIGGER [tD_Client]
GO
/****** Object:  Trigger [dbo].[tU_Client]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[tU_Client] ON [dbo].[Client] FOR UPDATE AS
/* erwin Builtin Trigger */
/* UPDATE trigger on Client */
BEGIN
  DECLARE  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insClient_id integer,
           @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)

  SELECT @numrows = @@rowcount
  /* erwin Builtin Trigger */
  /* Bookings  Client on child update no action */
  /* ERWIN_RELATION:CHECKSUM="00018bdc", PARENT_OWNER="", PARENT_TABLE="Bookings"
    CHILD_OWNER="", CHILD_TABLE="Client"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_25", FK_COLUMNS="Booking_id" */
  IF
    /* %ChildFK(" OR",UPDATE) */
    UPDATE(Booking_id)
  BEGIN
    SELECT @nullcnt = 0
    SELECT @validcnt = count(*)
      FROM inserted,Bookings
        WHERE
          /* %JoinFKPK(inserted,Bookings) */
          inserted.Booking_id = Bookings.Booking_id
    /* %NotnullFK(inserted," IS NULL","select @nullcnt = count(*) from inserted where"," AND") */
    select @nullcnt = count(*) from inserted where
      inserted.Booking_id IS NULL
    IF @validcnt + @nullcnt != @numrows
    BEGIN
      SELECT @errno  = 30007,
             @errmsg = 'Cannot update Client because Bookings does not exist.'
      GOTO error
    END
  END


  /* erwin Builtin Trigger */
  RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END

GO
ALTER TABLE [dbo].[Client] ENABLE TRIGGER [tU_Client]
GO
/****** Object:  Trigger [dbo].[tD_client_manager]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tD_client_manager] ON [dbo].[client_manager] FOR DELETE AS
/* erwin Builtin Trigger */
/* DELETE trigger on client_manager */
BEGIN
  DECLARE  @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)
    /* erwin Builtin Trigger */
    /* client_manager  Client_Manager_relationships on parent delete no action */
    /* ERWIN_RELATION:CHECKSUM="0001430d", PARENT_OWNER="", PARENT_TABLE="client_manager"
    CHILD_OWNER="", CHILD_TABLE="Client_Manager_relationships"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_21", FK_COLUMNS="Manager_id" */
    IF EXISTS (
      SELECT * FROM deleted,Client_Manager_relationships
      WHERE
        /*  %JoinFKPK(Client_Manager_relationships,deleted," = "," AND") */
        Client_Manager_relationships.Manager_id = deleted.Manager_id
    )
    BEGIN
      SELECT @errno  = 30001,
             @errmsg = 'Cannot delete client_manager because Client_Manager_relationships exists.'
      GOTO error
    END


    /* erwin Builtin Trigger */
    RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END
GO
ALTER TABLE [dbo].[client_manager] ENABLE TRIGGER [tD_client_manager]
GO
/****** Object:  Trigger [dbo].[tU_client_manager]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tU_client_manager] ON [dbo].[client_manager] FOR UPDATE AS
/* erwin Builtin Trigger */
/* UPDATE trigger on client_manager */
BEGIN
  DECLARE  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insManager_id integer,
           @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)

  SELECT @numrows = @@rowcount
  /* erwin Builtin Trigger */
  /* client_manager  Client_Manager_relationships on parent update no action */
  /* ERWIN_RELATION:CHECKSUM="00015cf9", PARENT_OWNER="", PARENT_TABLE="client_manager"
    CHILD_OWNER="", CHILD_TABLE="Client_Manager_relationships"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_21", FK_COLUMNS="Manager_id" */
  IF
    /* %ParentPK(" OR",UPDATE) */
    UPDATE(Manager_id)
  BEGIN
    IF EXISTS (
      SELECT * FROM deleted,Client_Manager_relationships
      WHERE
        /*  %JoinFKPK(Client_Manager_relationships,deleted," = "," AND") */
        Client_Manager_relationships.Manager_id = deleted.Manager_id
    )
    BEGIN
      SELECT @errno  = 30005,
             @errmsg = 'Cannot update client_manager because Client_Manager_relationships exists.'
      GOTO error
    END
  END


  /* erwin Builtin Trigger */
  RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END
GO
ALTER TABLE [dbo].[client_manager] ENABLE TRIGGER [tU_client_manager]
GO
/****** Object:  Trigger [dbo].[tD_Client_Manager_relationships]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE TRIGGER [dbo].[tD_Client_Manager_relationships] ON [dbo].[Client_Manager_relationships] FOR DELETE AS
/* erwin Builtin Trigger */
/* DELETE trigger on Client_Manager_relationships */
BEGIN
  DECLARE  @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)
    /* erwin Builtin Trigger */
    /* Client_Manager_relationships  Bookings on parent delete no action */
    /* ERWIN_RELATION:CHECKSUM="00029e08", PARENT_OWNER="", PARENT_TABLE="Client_Manager_relationships"
    CHILD_OWNER="", CHILD_TABLE="Bookings"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_23", FK_COLUMNS="Relationship_ID" */
    IF EXISTS (
      SELECT * FROM deleted,Bookings
      WHERE
        /*  %JoinFKPK(Bookings,deleted," = "," AND") */
        Bookings.Relationship_ID = deleted.Relationship_ID
    )
    BEGIN
      SELECT @errno  = 30001,
             @errmsg = 'Cannot delete Client_Manager_relationships because Bookings exists.'
      GOTO error
    END

    /* erwin Builtin Trigger */
    /* client_manager  Client_Manager_relationships on child delete no action */
    /* ERWIN_RELATION:CHECKSUM="00000000", PARENT_OWNER="", PARENT_TABLE="client_manager"
    CHILD_OWNER="", CHILD_TABLE="Client_Manager_relationships"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_21", FK_COLUMNS="Manager_id" */
    IF EXISTS (SELECT * FROM deleted,client_manager
      WHERE
        /* %JoinFKPK(deleted,client_manager," = "," AND") */
        deleted.Manager_id = client_manager.Manager_id AND
        NOT EXISTS (
          SELECT * FROM Client_Manager_relationships
          WHERE
            /* %JoinFKPK(Client_Manager_relationships,client_manager," = "," AND") */
            Client_Manager_relationships.Manager_id = client_manager.Manager_id
        )
    )
    BEGIN
      SELECT @errno  = 30010,
             @errmsg = 'Cannot delete last Client_Manager_relationships because client_manager exists.'
      GOTO error
    END


    /* erwin Builtin Trigger */
    RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END

GO
ALTER TABLE [dbo].[Client_Manager_relationships] ENABLE TRIGGER [tD_Client_Manager_relationships]
GO
/****** Object:  Trigger [dbo].[tU_Client_Manager_relationships]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TRIGGER [dbo].[tU_Client_Manager_relationships] ON [dbo].[Client_Manager_relationships] FOR UPDATE AS
/* erwin Builtin Trigger */
/* UPDATE trigger on Client_Manager_relationships */
BEGIN
  DECLARE  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insRelationship_ID integer,
           @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)

  SELECT @numrows = @@rowcount
  /* erwin Builtin Trigger */
  /* Client_Manager_relationships  Bookings on parent update no action */
  /* ERWIN_RELATION:CHECKSUM="0002d36d", PARENT_OWNER="", PARENT_TABLE="Client_Manager_relationships"
    CHILD_OWNER="", CHILD_TABLE="Bookings"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_23", FK_COLUMNS="Relationship_ID" */
  IF
    /* %ParentPK(" OR",UPDATE) */
    UPDATE(Relationship_ID)
  BEGIN
    IF EXISTS (
      SELECT * FROM deleted,Bookings
      WHERE
        /*  %JoinFKPK(Bookings,deleted," = "," AND") */
        Bookings.Relationship_ID = deleted.Relationship_ID
    )
    BEGIN
      SELECT @errno  = 30005,
             @errmsg = 'Cannot update Client_Manager_relationships because Bookings exists.'
      GOTO error
    END
  END

  /* erwin Builtin Trigger */
  /* client_manager  Client_Manager_relationships on child update no action */
  /* ERWIN_RELATION:CHECKSUM="00000000", PARENT_OWNER="", PARENT_TABLE="client_manager"
    CHILD_OWNER="", CHILD_TABLE="Client_Manager_relationships"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_21", FK_COLUMNS="Manager_id" */
  IF
    /* %ChildFK(" OR",UPDATE) */
    UPDATE(Manager_id)
  BEGIN
    SELECT @nullcnt = 0
    SELECT @validcnt = count(*)
      FROM inserted,client_manager
        WHERE
          /* %JoinFKPK(inserted,client_manager) */
          inserted.Manager_id = client_manager.Manager_id
    /* %NotnullFK(inserted," IS NULL","select @nullcnt = count(*) from inserted where"," AND") */
    select @nullcnt = count(*) from inserted where
      inserted.Manager_id IS NULL
    IF @validcnt + @nullcnt != @numrows
    BEGIN
      SELECT @errno  = 30007,
             @errmsg = 'Cannot update Client_Manager_relationships because client_manager does not exist.'
      GOTO error
    END
  END


  /* erwin Builtin Trigger */
  RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END

GO
ALTER TABLE [dbo].[Client_Manager_relationships] ENABLE TRIGGER [tU_Client_Manager_relationships]
GO
/****** Object:  Trigger [dbo].[tD_Hotels]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tD_Hotels] ON [dbo].[Hotels] FOR DELETE AS
/* erwin Builtin Trigger */
/* DELETE trigger on Hotels */
BEGIN
  DECLARE  @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)
    /* erwin Builtin Trigger */
    /* Hotels  Rooms on parent delete no action */
    /* ERWIN_RELATION:CHECKSUM="00010455", PARENT_OWNER="", PARENT_TABLE="Hotels"
    CHILD_OWNER="", CHILD_TABLE="Rooms"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_17", FK_COLUMNS="Hotel_id" */
    IF EXISTS (
      SELECT * FROM deleted,Rooms
      WHERE
        /*  %JoinFKPK(Rooms,deleted," = "," AND") */
        Rooms.Hotel_id = deleted.Hotel_id
    )
    BEGIN
      SELECT @errno  = 30001,
             @errmsg = 'Cannot delete Hotels because Rooms exists.'
      GOTO error
    END


    /* erwin Builtin Trigger */
    RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END
GO
ALTER TABLE [dbo].[Hotels] ENABLE TRIGGER [tD_Hotels]
GO
/****** Object:  Trigger [dbo].[tU_Hotels]    Script Date: 14.06.2020 15:00:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tU_Hotels] ON [dbo].[Hotels] FOR UPDATE AS
/* erwin Builtin Trigger */
/* UPDATE trigger on Hotels */
BEGIN
  DECLARE  @numrows int,
           @nullcnt int,
           @validcnt int,
           @insHotel_id integer,
           @errno   int,
           @severity int,
           @state    int,
           @errmsg  varchar(255)

  SELECT @numrows = @@rowcount
  /* erwin Builtin Trigger */
  /* Hotels  Rooms on parent update no action */
  /* ERWIN_RELATION:CHECKSUM="000116cb", PARENT_OWNER="", PARENT_TABLE="Hotels"
    CHILD_OWNER="", CHILD_TABLE="Rooms"
    P2C_VERB_PHRASE="", C2P_VERB_PHRASE="", 
    FK_CONSTRAINT="R_17", FK_COLUMNS="Hotel_id" */
  IF
    /* %ParentPK(" OR",UPDATE) */
    UPDATE(Hotel_id)
  BEGIN
    IF EXISTS (
      SELECT * FROM deleted,Rooms
      WHERE
        /*  %JoinFKPK(Rooms,deleted," = "," AND") */
        Rooms.Hotel_id = deleted.Hotel_id
    )
    BEGIN
      SELECT @errno  = 30005,
             @errmsg = 'Cannot update Hotels because Rooms exists.'
      GOTO error
    END
  END


  /* erwin Builtin Trigger */
  RETURN
error:
   RAISERROR (@errmsg, -- Message text.
              @severity, -- Severity (0~25).
              @state) -- State (0~255).
    rollback transaction
END
GO
ALTER TABLE [dbo].[Hotels] ENABLE TRIGGER [tU_Hotels]
GO
USE [master]
GO
